In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('payment_duration.csv')
df.head(3)

C:\Users\Admin\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,Payment type,Under 1 year,1-<2 years,2-<5 years,5-<10 years,10 years+,Average duration on payment (weeks)
0,ABSTUDY (Living Allowance),3740,2110,1460,175,5,66
1,ABSTUDY (Non-Living Allowance),6750,5805,6505,145,5,77
2,Age Pension,106670,177635,361405,627500,1309780,609

In [2]:


# Dictionary to map the original payment type names to the new ones
payment_type_mapping = {
    "ABSTUDY (Living Allowance)": "ABSTUDY 1",
    "ABSTUDY (Non-Living Allowance)": "ABSTUDY 2",
    "Age Pension": "Age Pension",
    "Austudy": "Austudy",
    "Carer Payment": "Carer Payment",
    "Disability Support Pension": "Disability Pension",
    "JobSeeker Payment": "JobSeeker Payment",
    "Parenting Payment Partnered": "Parenting Pay 1",
    "Parenting Payment Single": "Parenting Pay 2",
    "Special Benefit": "Special Benefit",
    "Youth Allowance (other)": "Youth Allowance 1",
    "Youth Allowance (student and apprentice)": "Youth Allowance 2"
}

# Replace the values in the "Payment type" column
df['Payment type'] = df['Payment type'].replace(payment_type_mapping)

# Save the updated DataFrame to a new CSV file
df.to_csv('payment_duration_updated.csv', index=False)