In [6]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('earnings.csv')
df.head(3)

,Payment type,No earnings,Had earnings,>$0-<$100,$100-<$150,$150-<$250,$250+
0,ABSTUDY (Living Allowance),"5,580","1,905",110,85,145,"1,565"
1,Age Pension,"2,497,830","85,165","2,955","2,490","6,600","73,120"
2,Austudy,"12,155","8,665",195,165,455,"7,850"

In [7]:


# Dictionary to map the original payment type names to the new ones
payment_type_mapping = {
    "ABSTUDY (Living Allowance)": "ABSTUDY 1",
    "Age Pension": "Age Pension",
    "Austudy": "Austudy",
    "Carer Payment": "Carer Payment",
    "Disability Support Pension": "Disability Pension",
    "JobSeeker Payment": "JobSeeker Payment",
    "Parenting Payment Partnered": "Parenting Pay 1",
    "Parenting Payment Single": "Parenting Pay 2",
    "Special Benefit": "Special Benefit",
    "Youth Allowance (other)": "Youth Allowance 1",
    "Youth Allowance (student and apprentice)": "Youth Allowance 2"
}
# Replace the values in the "Payment type" column
df['Payment type'] = df['Payment type'].replace(payment_type_mapping)

# Save the updated DataFrame to a new CSV file
df.to_csv('earnings_update.csv', index=False)